name: "Sphinx: Render docs"

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"  # StrEnum は 3.11 で追加
  
    - name: Requirements
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools sphinx kivy cython

    - name: Sphinx-Build HTML
      run: |
        sphinx-build -M html docs/api/source docs/api/build

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: html-docs
        path: docs/api/build/html/

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/api/build/html
